
<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <% @words.each do |word| %>
    <form class="" action="/word/<%= word.id %>">
      <div class="well">
        <div class="wrapper" style="text-align:center;">
          <a class="hidden-a" href="/word/<%= word.id %>"><p class="word"><%= word.word %></p></a>
          <ol>
            <% word.definition.each do |definition| %>
              <li class="definition"><div class="" style="padding-right:32px;"><%= definition.definition %></div></li>
            <%end%>
        </ol>
       </div>
      </div>
    </form>
    <% end %>
  </div>
</div>
