<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <div class="wrapper" style="text-align:center">
        <p class="word"><%= @word.word %></p>
        <ol>
          <% @word.definition.each do |definition| %>
            <li class="definition"><div class="" style="padding-right:32px;"><%= definition.definition %></div></li>
          <%end%>
        </ol>
        <div class="" style="padding-top:12px;">
          <form class="" action="/add_definition/<%=@word.id%>" method="post">
            <input type="text" name="new_definition_input" value="">
            <div class="" style="padding-top:12px;">
              <button class="btn btn-success" type="submit" name="button">Add Definition</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
